@charset "UTF-8";
/* 
    #변수명 기준은 www.color-name.com 사이트에서 별칭 따옴 
    #사용법 예시
        get-color(neutral, Basic)
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import '../font/pretendard/pretendard.css';
* {
  font-family: 'NeoDunggeunmo';
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #000;
  text-decoration: none;
}

input {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
}
input:focus-visible {
  outline: none;
}

button {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
}

.font-primary {
  font-family: 'NeoDunggeunmo';
}

.font-scondary {
  font-family: 'DNFBitBitv2';
}

.comm_container .inner {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')
    format('opentype');
}
@font-face {
  font-family: 'GasoekOne-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/GasoekOne-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* 
    #FlexBox 속성 mixin
    #사용법 예시
        .my-container {
            @include flexLayout($jc: center, $ai: center, $gap: 10px);
        }
*/
/* 
    #폰트 설정 mixin
    #사용법 위와 같음
*/
/* #포지셔닝 mixin */
/* #컨텐츠 사이즈 mixin */
.header {
  padding: 20px 0;
  background: #2b2b2b;
}
.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1400px;
  padding: 0 40px;
  margin: 0 auto;
}
.header .left_column form {
  padding-left: 100px;
}
.header .left_column form .logo {
  position: absolute;
  top: -20px;
  right: auto;
  left: 0;
}
.header .left_column form .search_box input {
  width: 230px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'NeoDunggeunmo';
  color: #a7b0bf;
  line-height: 1.3;
  padding: 0 15px;
  border-radius: 10px;
  background: #1d1d1d;
}
.header .left_column form .search_box .search_btn {
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 15px;
}
.header .right_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
  /* 신규 및 특집 · 찾아보기 · 뉴스 */
  /* 로그인 · 회원가입 */
}
.header .right_column ul {
  border-radius: 10px;
}
.header .right_column ul li a {
  font-size: 16px;
  font-weight: 400;
  font-family: 'NeoDunggeunmo';
  line-height: 1.3;
}
.header .right_column .menu {
  padding: 15px 40px;
  background: #1d1d1d;
}
.header .right_column .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
}
.header .right_column .menu li a {
  color: #a7b0bf;
}
.header .right_column .signIn {
  padding: 15px 17px;
  background: #a7b0bf;
}
.header .right_column .signIn li a {
  color: #000;
}
.header .right_column .signIn li a:first-child {
  margin-right: 10px;
  padding-right: 10px;
}
.header .right_column .signIn li a:first-child::after {
  width: 2px;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: -4px;
  content: '';
  background: #000;
}

.footer {
  padding: 80px 0;
  background: #1d1d1d;
}
.footer .top_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 20px;
  margin-bottom: 20px;
}
.footer .top_column p {
  font-size: 40px;
  font-weight: 400;
  font-family: 'DNFBitBitv2';
  color: #afcae9;
  line-height: 1.3;
}
.footer .bott_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 180px;
  /* 좌측 컨텐츠 */
  /* 우측 컨텐츠 - 링크 이동 영역 */
}
.footer .bott_column .etc {
  width: 100%;
  max-width: 690px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'DNFBitBitv2';
  color: #afcae9;
  line-height: 1.3;
}
.footer .bott_column .etc .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer .bott_column .etc .line .deco span {
  width: 8px;
  height: 8px;
  display: block;
  background: #246dc2;
}
.footer .bott_column .etc .line .deco-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
.footer .bott_column .etc .line .deco-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer .bott_column .etc .line .deco-circle span {
  border-radius: 50%;
}
.footer .bott_column .etc .line.second .deco-center span:first-child {
  width: 20px;
  height: 5px;
}
.footer .bott_column .etc .line.second .deco-center span:last-child {
  width: 5px;
  height: 20px;
  position: absolute;
}
.footer .bott_column .etc .line.second .deco-grid span:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}
.footer .bott_column .etc .line.second .deco-grid span:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.footer .bott_column .etc .line.second .deco-grid span:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}
.footer .bott_column .etc .line.third {
  margin-bottom: 0;
}
.footer .bott_column .etc .line.third .deco-circle span {
  width: 20px;
  height: 20px;
}
.footer .bott_column .etc .line.third .deco-center span {
  position: absolute;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.footer .bott_column .etc .line.third .deco-center span:first-child {
  width: 20px;
  height: 5px;
  -webkit-transform: rotate(45deg) scale(1.13);
  transform: rotate(45deg) scale(1.13);
}
.footer .bott_column .etc .line.third .deco-center span:last-child {
  width: 20px;
  height: 5px;
  -webkit-transform: rotate(-45deg) scale(1.13);
  transform: rotate(-45deg) scale(1.13);
}
.footer .bott_column .etc .line.third .deco-grid span {
  width: 8px;
  height: 8px;
}
.footer .bott_column .etc .line.third .deco-grid span:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}
.footer .bott_column .etc .line.third .deco-grid span:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.footer .bott_column .main_section_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.footer .bott_column .main_section_link li a {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Pretendard';
  color: #afcae9;
  line-height: 1;
  display: block;
  margin-bottom: 17px;
}
.footer .bott_column .main_section_link li a:last-child {
  margin-bottom: 0;
}
.footer .bott_column .main_section_link li.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 10px;
}
.footer .bott_column .main_section_link li.email a {
  color: #eee;
}

/* #그림자 텍스트 사용 시 */
.childText {
  font-size: 200px;
  font-weight: 400;
  font-family: 'GasoekOne-Regular';
  color: #9355fe;
  line-height: 1;
  text-shadow: -3px 0px #000, 0px 3px #000, 3px 0px #000, 0px -3px #000;
}
.childText p {
  display: table;
  z-index: 1;
}
.childText p::after {
  position: absolute;
  top: -20px;
  right: -10px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: #45ffca;
  line-height: 1.3;
  text-shadow: -3px 0px #eee, 0px 3px #eee, 3px 0px #eee, 0px -3px #eee;
  content: attr(data-child);
  z-index: -1;
}
.childText.small {
  text-shadow: -2px 0px #000, 0px 2px #000, 2px 0px #000, 0px -2px #000;
  font-size: 100px;
}
.childText.small p::after {
  text-shadow: -2px 0px #eee, 0px 2px #eee, 2px 0px #eee, 0px -2px #eee;
}
.childText.small p:nth-child(2) {
  margin-top: 5px;
}

/* #반짝이 */
.star-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}
.star-container .star-large {
  width: 76px;
  height: 76px;
  position: absolute;
  background-image: url(../imgs/main/img_hero_starLarge.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.star-container .star-medium {
  width: 52px;
  height: 52px;
  position: absolute;
  background-image: url(../imgs/main/img_hero_starMedium.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.star-container .star-small {
  width: 28px;
  height: 28px;
  position: absolute;
  background-image: url(../imgs/main/img_hero_starSmall.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main {
  background: #1d1d1d;
}
.main .sc_hero {
  /* 상·하단 흐르는 배너 */
}
.main .sc_hero .banner_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 60px;
  overflow: hidden;
  padding: 12px 0;
  background: #246dc2;
  /* 상단 배너 (왼쪽으로 이동) */
  /* 하단 배너 (오른쪽으로 이동) */
}
.main .sc_hero .banner_line p {
  font-size: 30px;
  font-weight: 400;
  font-family: 'NeoDunggeunmo';
  line-height: 1.3;
  margin-bottom: -3px;
}
.main .sc_hero .banner_line .roller_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 65px;
}
.main .sc_hero .banner_line .roller_wrap .rolling_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 65px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.main .sc_hero .banner_line .roller_wrap .rolling_list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 60px;
  -webkit-animation: rollingleft1 10s linear infinite;
  animation: rollingleft1 10s linear infinite;
}
@-webkit-keyframes rollingleft1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  50.01% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0);
    transform: translate3d(0);
  }
}
@keyframes rollingleft1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  50.01% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0);
    transform: translate3d(0);
  }
}
.main .sc_hero .banner_line .roller_wrap .rolling_list > div:nth-child(even) p {
  color: #d0eb13;
}
.main .sc_hero .banner_line.left .rolling_list.original {
  -webkit-animation: rollingLeft1 45s linear infinite;
  animation: rollingLeft1 45s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes rollingLeft1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  50.01% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0);
    transform: translate3d(0);
  }
}
@keyframes rollingLeft1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  50.01% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0);
    transform: translate3d(0);
  }
}
.main .sc_hero .banner_line.left .rolling_list.clone {
  -webkit-animation: rollingLeft2 45s linear infinite;
  animation: rollingLeft2 45s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes rollingLeft2 {
  0% {
    -webkit-transition: translate3d(0, 0, 0);
    transition: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}
@keyframes rollingLeft2 {
  0% {
    -webkit-transition: translate3d(0, 0, 0);
    transition: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}
.main .sc_hero .banner_line.right .rolling_list.original {
  -webkit-animation: rollingLeft1 45s linear infinite;
  animation: rollingLeft1 45s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes rollingLeft1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  50.01% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0);
    transform: translate3d(0);
  }
}
.main .sc_hero .banner_line.right .rolling_list.clone {
  -webkit-animation: rollingLeft2 45s linear infinite;
  animation: rollingLeft2 45s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes rollingLeft2 {
  0% {
    -webkit-transition: translate3d(0, 0, 0);
    transition: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}
.main .sc_hero .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 160px 171px 117px;
}
.main .sc_hero .inner .left_column .childText p:first-child::before {
  width: 213px;
  height: 213px;
  position: absolute;
  right: -230px;
  content: '';
  background: url(../imgs/main/img_hero_character.png) no-repeat top;
}
.main .sc_hero .inner .left_column .getDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 45px;
  font-weight: 400;
  font-family: 'NeoDunggeunmo';
  color: #ff6a00;
  line-height: 1.3;
  padding-top: 60px;
}
.main .sc_hero .inner .left_column .getDate .time::before {
  width: 48px;
  height: 24px;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: calc(50% - 2px);
  left: -61px;
  content: '';
  background: url(../imgs/main/img_hero_timeArrow.png) no-repeat top;
}
.main .sc_hero .inner .right_column {
  position: static;
}
.main .sc_hero .inner .right_column > div:first-child {
  position: absolute;
  top: 61px;
  right: 266px;
  z-index: 3;
}
.main .sc_hero .inner .right_column > div:nth-child(2) {
  position: absolute;
  top: 233px;
  right: 58px;
  z-index: 2;
}
.main .sc_hero .inner .right_column > div:last-child {
  position: absolute;
  top: 434px;
  right: 232px;
}
.main .sc_lastBanner {
  padding: 247px 0 433px;
  text-align: center;
}
.main .sc_lastBanner::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: url(../imgs/main/img_lastBanner_bg.png) no-repeat top;
  z-index: 5;
  -webkit-filter: brightness(0.5) opacity(0.8);
  filter: brightness(0.5) opacity(0.8);
  pointer-events: none;
}
.main .sc_lastBanner .tit p {
  font-size: 70px;
  font-weight: 400;
  font-family: 'DNFBitBitv2';
  color: #9355fe;
  line-height: 1.3;
  padding-bottom: 30px;
}
.main .sc_lastBanner .tit span {
  font-size: 40px;
  font-weight: 400;
  font-family: 'NeoDunggeunmo';
  color: #afcae9;
  line-height: 1.3;
}
