//------------------------------------------//
// 폰트
//------------------------------------------//
.font-primary {
  font-family: $font-primary;
}

.font-scondary {
  font-family: $font-secondary;
}

//------------------------------------------//
// 컨테이너 사이즈
//------------------------------------------//
/* 기본 */
.comm_container {
  .inner {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
  }

  @include tablet {
    .inner {
      max-width: 800px;
    }
  }
  @include mobile {
    .inner {
      padding: 0 20px;
    }
  }
}

/* 페이지 컨테이너 */
.page_container {
  @include flex;
  background: get-color(neutral, Basic);

  .inner {
    flex-grow: 1;
    margin: 0 auto;
    padding: 100px 40px 200px;
    width: 100%;
    min-width: 0;

    &.fill {
      padding: 0;
    }
  }
}

//------------------------------------------//
// 자주 사용되는 클래스
//------------------------------------------//
/* ## 별표 */
.asterisk {
  color: get-color(blue, CelticBlue);
}
/* ## 게임명 */
.game_name {
  @include font(20px, $color: get-color(neutral, White));
}
/* ## 게임 해시태그 */
.game_tag {
  @include flex();

  &.hashtag {
    gap: 0 10px;

    li {
      @include font(14px, $color: get-color(neutral, SpanishGray));
    }
  }
}
/* ## 게임 가격 */
.game_price {
  .original {
    @include font(20px, $color: get-color(blue, CadetBlue));

    &.discounted {
      font-size: 14px;
      text-decoration: line-through;
    }
  }
  .sale {
    @include font(20px, $color: get-color(point, Sandstorm));
    padding-right: 4px;
  }
}
/* ## 게임 설명 */
.game_description {
  @include textOverflow(2);
  @include font($color: get-color(neutral, SpanishGray), $lh: 1.5);
  margin: 15px 0 20px;
}
/* ## 게임 할인 퍼센트 */
.discountPercent {
  @include size(62px, 36px);
  @include font(20px, $color: get-color(neutral, Basic), $lh: 36px);
  @include position(absolute, $right: 0, $bottom: 0);
  background-color: get-color(blue, CelticBlue);
  text-align: center;
}
/* ## 게임 2개 배너 영역 */
.banner_area {
  @include flex(flex, $gap: 0 20px);
}
