//------------------------------------------//
// 폰트
//------------------------------------------//
.font-primary {
  font-family: $font-primary;
}

.font-scondary {
  font-family: $font-secondary;
}

//------------------------------------------//
// 컨테이너 사이즈
//------------------------------------------//
/* 기본 */
.comm_container {
  .inner {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
  }

  @include tablet {
    .inner {
      max-width: 720px;
      padding: 0 40px;
    }
  }
  @include mobile {
    .inner {
      padding: 0 20px;
    }
  }
}

/* 페이지 컨테이너 */
.page_container {
  @include display;
  background: get-color(neutral, Basic);

  .inner {
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
    min-width: 0;

    &.fill {
      padding: 0;
    }
  }
}

/* 로그인, 회원가입 페이지 컨테이너 */
.login_page,
.join_page {
  .inner {
    padding: 163px 0;
  }
}

//------------------------------------------//
// 반짝이
//------------------------------------------//
$star-sizes: (
  'large': (
    'hero-starLarge',
    76px,
    76px,
  ),
  'medium': (
    'hero-starMedium',
    52px,
    52px,
  ),
  'small': (
    'hero-starSmall',
    28px,
    28px,
  ),
);
.star-container {
  @include size(100%, 100%);
  @include position(absolute, $top: 0, $left: 0);
  z-index: 5;
  pointer-events: none;

  @each $size, $values in $star-sizes {
    $image: nth($values, 1);
    $width: nth($values, 2);
    $height: nth($values, 3);

    .star-#{$size} {
      @include size($width, $height);
      position: absolute;
      background-image: url(#{$main_src}/#{$image}.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

//------------------------------------------//
// 자주 사용되는 클래스
//------------------------------------------//
/* ## 별표 */
.asterisk {
  color: get-color(blue, CelticBlue);
}
/* ## 게임 정보 */
.game {
  /* ## 게임명 */
  &-name {
    @include font(20px, 400, $color: get-color(neutral, White));
  }
  /* ## 게임 이미지 */
  &-img {
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  /* ## 게임 해시태그 */
  &-tags {
    @include display(flex, $ai: center);

    &.hashtag {
      gap: 0 10px;

      li {
        @include font(14px, $color: get-color(blue, CadetBlue), $lh: 38px);
        @include textOverflow(1);
        @include size($minWidth: 58px, $maxWidth: 142px);
        background: get-color(blue, MaastrichtBlue);
        border-radius: 19px;
        padding: 0 15px;
      }
    }
  }
  /* ## 게임 가격 */
  &-price {
    @include display(flex, $ai: flex-end);
    .left-column {
      @include display(flex, $ff: column);
    }
    .original {
      @include font(20px, $color: get-color(blue, CadetBlue));

      &.discounted {
        font-size: 14px;
        text-decoration: line-through;
      }
    }
    .sale {
      @include font(20px, $color: get-color(point, Sandstorm));
      margin-right: 4px;
    }
  }
  /* ## 게임 설명 */
  &-description {
    @include textOverflow(2);
    @include font(16px, $color: get-color(neutral, SpanishGray), $lh: 1.5);
    margin: 15px 0 20px;
  }
  /* ## 게임 할인 퍼센트 */
  &-discountPercent {
    @include size(62px, 36px);
    @include font(20px, $color: get-color(neutral, Basic), $lh: 36px);
    background-color: get-color(blue, CelticBlue);
    text-align: center;

    &.absolute {
      @include position(absolute, $right: 0, $bottom: 0);
    }
    &.radius {
      border-radius: 5px;
    }
    &_red {
      @include size(52px, 28px);
      @include font(18px, $color: get-color(neutral, basic), $lh: 28px);
      border-radius: 3px;
      background: get-color(point, SunburntCyclops);
      text-align: center;
    }
  }
}
/* ## 게임 2개 배너 영역 */
.banner_area {
  @include display(flex, $gap: 0 20px);

  img {
    margin: 0;
  }
  .banner_item {
    flex: 1;
  }
}

//------------------------------------------//
// 기타
//------------------------------------------//
img {
  &.cover {
    object-fit: cover;
  }
  &.contain {
    object-fit: contain;
  }
  &.full {
    width: 100%;
    height: 100%;
  }
}
