/* =============================================== ==========================
   ## 공통 믹스인 모음
   ================================================= ======================== */
@use 'sass:math';

$primary: 'Pretendard';

//-------------- 반응형 --------------//
// ## 사용법 예시 :  @include respond('mobile') {font-size: 14px;}
@mixin respond($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == 'tablet' {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $breakpoint == 'desktop' {
    @media (min-width: 1024px) {
      @content;
    }
  }
}
//-------------- 폰트 --------------//
@mixin font($fs: null, $fw: null, $ff: null, $color: null, $lh: null) {
  @if $fs != null {
    font-size: $fs;
  }
  @if $fw != null {
    font-weight: $fw;
  }
  @if $ff != null {
    font-family: $ff;
  }
  @if $color != null {
    color: $color;
  }
  @if $lh != null {
    line-height: $lh;
  }
}

//-------------- 컨텐츠 사이즈 --------------//
@mixin size(
  $width: null,
  $height: null,
  $maxWidth: null,
  $maxHeight: null,
  $minWidth: null,
  $minHeight: null
) {
  @if $width != null {
    width: $width;
  }
  @if $height != null {
    height: $height;
  }
  @if $maxWidth != null {
    max-width: $maxWidth;
  }
  @if $maxHeight != null {
    max-height: $maxHeight;
  }
  @if $minWidth != null {
    min-width: $minWidth;
  }
  @if $minHeight != null {
    min-height: $minHeight;
  }
}
//-------------- 포지셔닝 --------------//
@mixin position(
  $position: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $x: null,
  $y: null
) {
  @if $position != null {
    position: $position;
  }
  @if $x != null or $y != null {
    transform: translate(#{if($x != null, $x, 0)}, #{if($y != null, $y, 0)});
  }
  @if $top != null {
    top: $top;
  }
  @if $right != null {
    right: $right;
  }
  @if $bottom != null {
    bottom: $bottom;
  }
  @if $left != null {
    left: $left;
  }
}
//-------------- 플렉스 박스 --------------//
@mixin display(
  $display: null,
  $jc: null,
  $ai: null,
  $ac: null,
  $ff: null,
  $gap: null
) {
  @if $display != null {
    display: $display;
  }
  @if $jc != null {
    justify-content: $jc;
  }
  @if $ai != null {
    align-items: $ai;
  }
  @if $ac != null {
    align-content: $ac;
  }
  @if $ff != null {
    flex-flow: $ff;
  }
  @if $gap != null {
    gap: $gap;
  }
}
@mixin grid($cols: 2, $gap: 5px) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: $gap;

  @include mobile {
    gap: 0.69vw;
  }
}
@mixin flexCenter($ai: center, $jc: center) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}
//-------------- 텍스트 그라디언트 --------------//
// ## 사용법 예시 : @include textBackground(to right, #f224ff, #ff2b00);
@mixin textBackground($direction: to right, $colors...) {
  background: linear-gradient($direction, $colors...);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

//-------------- 배경 --------------//
// ex 0 > jpg, 0 > png
@mixin bg($src, $imgs, $ex, $position, $bg: null) {
  @if $ex == 0 {
    @if $bg !=null {
      background: url('#{$src}/#{$imgs}.jpg') no-repeat $position, $bg;
    } @else {
      background: url('#{$src}/#{$imgs}.jpg') no-repeat $position;
    }
  } @else if $ex == 1 {
    @if $bg !=null {
      background: url('#{$src}/#{$imgs}.png') no-repeat $position, $bg;
    } @else {
      background: url('#{$src}/#{$imgs}.png') no-repeat $position;
    }
  } @else {
    @if $bg !=null {
      background: url('#{$src}/#{$imgs}.svg') no-repeat $position, $bg;
    } @else {
      background: url('#{$src}/#{$imgs}.svg') no-repeat $position;
    }
  }
}

//----------------------------------------//
//-------------- css 말줄임 --------------//
//---------------------------------------//
@mixin textOverflow($number: null) {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
  word-break: keep-all; // 문단으로 끊어져서 줄바꿈 됨
}
@mixin resetTextOverflow {
  display: block; // 초기화: display를 block으로
  -webkit-line-clamp: none; // 클램핑 제거
  -webkit-box-orient: unset;
  overflow: visible;
  text-overflow: unset;
}

//-------------------------------------------------//
//-------------- 그림자 텍스트 사용 시 --------------//
//-------------------------------------------------//
@mixin textShadowBorder($color, $size: 3px) {
  text-shadow: -#{$size} 0px $color, 0px #{$size} $color, #{$size} 0px $color,
    0px -#{$size} $color;
}
@mixin page-specific-media($page-class, $breakpoint) {
  .#{$page-class} {
    @media (min-width: 1024px) and (max-width: $breakpoint) {
      @content;
    }
  }
}
