//----------------------------------------//
//-------------- 반응형 태그 --------------//
//----------------------------------------//
@media (max-width: 767px) {
  .show-pc {
    display: none !important;
  }
  .show-mo {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .show-pc {
    display: none !important;
  }
  .show-ta {
    display: block !important;
  }
}
@media (min-width: 1025px) {
  .show-mo,
  .show-ta {
    display: none !important;
  }
}

//--------------------------------------------------//
//-------------- 디바이스 별 미디어쿼리 --------------//
//--------------------------------------------------//
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) and (max-width: 1960px) {
    @content;
  }
}
