//------------------------------------------//
// 인풋 공통
//------------------------------------------//
.input_box,
.chk_box {
  .input_tit {
    @include font(20px, $color: get-color(neutral, White));
  }

  @include tablet {
    .input_tit {
      font-size: 28px;
    }
  }
  @include mobile {
    .input_tit {
      font-size: 3.89vw;
    }
  }
}

//------------------------------------------//
// 일반 인풋
//------------------------------------------//
.input_box {
  .input_cell {
    margin-bottom: 20px;

    input[type='text'],
    input[type='password'] {
      @include size(100%, 84px, $maxWidth: 640px);
      @include font(20px, $color: get-color(neutral, CharlestonGreen));
      padding: 0 30px;
      background: get-color(neutral, White);
      background: url(#{$comm_src}/component/input_bg.png) no-repeat top;

      &::placeholder {
        @include font(20px, $color: #757575);
      }
    }

    &.lump {
      margin-bottom: 10px;
    }
    &.zero {
      margin-bottom: 0;
    }
  }

  //-------------- 1023 반응형 --------------//
  @include tablet {
    .input_cell {
      input[type='text'],
      input[type='password'] {
        height: 100px;
        font-size: 26px;
        background: url(#{$comm_src}/input_bg_MO.png) no-repeat top / 100% 100%;

        &::placeholder {
          font-size: 26px;
        }
      }

      &.lump {
        margin-bottom: 20px;
      }
    }
  }
  //-------------- 767 반응형 --------------//
  @include mobile {
    .input_cell {
      input[type='text'],
      input[type='password'] {
        height: 13.89vw;
        font-size: 3.61vw;

        &::placeholder {
          font-size: 3.61vw;
        }
      }

      &.lump {
        margin-bottom: 2.78vw;
      }
    }
  }
}
//------------------------------------------//
// 체크박스
//------------------------------------------//
.chk_box {
  input[type='checkbox'],
  input[type='radio'] {
    position: absolute;
    appearance: none;
    opacity: 0;
    visibility: hidden;

    & + label {
      @include flex($ai: center, $gap: 0 9px);
      @include font(18px, $color: get-color(neutral, White));
      cursor: pointer;

      .square_check,
      .circle_check {
        display: inline-block;
      }

      .square_check {
        @include size(26px, 26px);
        background: url(#{$comm_src}/component/input_squareCheck_off_pc.png)
          no-repeat top;
      }
      .circle_check {
        @include size(22px, 23px);
        background: url(#{$comm_src}/component/input_circleCheck_off_pc.png)
          no-repeat top;
      }
    }
    &:checked {
      & + label {
        .square_check {
          background: url(#{$comm_src}/component/input_squareCheck_on_pc.png)
            no-repeat top;
        }
        .circle_check {
          background: url(#{$comm_src}/component/input_circleCheck_on_pc.png)
            no-repeat top;
        }
      }
    }
  }

  //-------------- 1023 반응형 --------------//
  @include tablet {
    input[type='checkbox'],
    input[type='radio'] {
      & + label {
        gap: 0 15px;
        font-size: 28px;

        .square_check,
        .circle_check {
          @include size(35px, 35px);
        }

        .square_check {
          background: url(#{$comm_src}/component/input_squareCheck_off_mo.png)
            no-repeat top / cover;
        }
        .circle_check {
          background: url(#{$comm_src}/component/input_circleCheck_off_mo.png)
            no-repeat top / cover;
        }
      }
      &:checked {
        & + label {
          .square_check {
            background: url(#{$comm_src}/component/input_squareCheck_on_mo.png)
              no-repeat top / cover;
          }
          .circle_check {
            background: url(#{$comm_src}/component/input_circleCheck_on_mo.png)
              no-repeat top / cover;
          }
        }
      }
    }
  }
  //-------------- 767 반응형 --------------//
  @include mobile {
    input[type='checkbox'],
    input[type='radio'] {
      & + label {
        gap: 0 2.08vw;
        font-size: 3.89vw;

        .square_check,
        .circle_check {
          @include size(4.86vw, 4.86vw);
        }
      }
    }
  }
}
