.registering {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include display($jc: center, $ai: center);
  background-color: rgba(0, 0, 0, 0.1);

  .registering_message {
    @include display($jc: center, $ai: center);
    padding: 24px;
    background-color: #fff;
  }
}
