//------------------------------------------//
// 서브 페이지 좌측 스티키 메뉴 StickyMenu.tsx
//------------------------------------------//
.sticky {
  @include size(100%, $maxWidth: 330px, $maxHeight: 806px);
  @include position(sticky, 20px);
  padding: 40px 20px;
  background: get-color(neutral, EerieBlack);
  border-radius: 10px;

  li {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    @include font(18px, $color: get-color(blue, CadetBlue));
    display: block;
    vertical-align: middle;

    img {
      vertical-align: middle;
      padding-right: 10px;
      display: inline-block;
    }

    &.active {
      color: get-color(blue, CelticBlue);
    }
  }

  .top_gnb,
  .bott_subMenu {
    padding: 40px 20px;
    background: get-color(neutral, CharlestonGreen);
    border-radius: 5px;
  }

  .top_gnb {
    margin-bottom: 40px;
  }
  .bott_subMenu {
    .myAccount {
      margin-bottom: 30px;
      text-align: center;
      .profile {
        @include size(90px, 90px);
        @include font(26px, $ff: $font-secondary, $lh: 90px);
        margin: 0 auto 20px;
        background-color: get-color(point, LavenderIndigo);
        border-radius: 50%;
        &_name {
          @include font(
            $ff: $font-secondary,
            $color: get-color(neutral, White)
          );

          img {
            padding: 0 0 0 5px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
