.childText {
  @include font(
    200px,
    $ff: $font-tertiary,
    $color: get-color(point, LavenderIndigo),
    $lh: 1
  );
  @include textShadowBorder(get-color(neutral, Basic), 3px);
  p {
    display: table;
    z-index: 1;
    &::after {
      @include position($top: -20px, $right: -10px);
      @include font(
        inherit,
        $ff: inherit,
        $color: map-get(map-get($color_palette, point), Turquoise)
      );
      @include textShadowBorder(get-color(neutral, White), 3px);

      content: attr(data-child);
      z-index: -1;
    }
  }

  &.small {
    @include textShadowBorder(get-color(neutral, Basic), 2px);
    font-size: 100px;
    p {
      &::after {
        @include textShadowBorder(get-color(neutral, White), 2px);
      }
      &:nth-child(2) {
        margin-top: 5px;
      }
    }
  }
}
.overlayBlack {
  @include size(100%, 100%);
  @include position(absolute, $right: -10px, $bottom: -10px);
  content: '';
  background: get-color(neutral, Basic);
  border-radius: 30px;
}

/* #반짝이 */
$star-sizes: (
  'large': (
    'img_hero_starLarge',
    76px,
    76px,
  ),
  'medium': (
    'img_hero_starMedium',
    52px,
    52px,
  ),
  'small': (
    'img_hero_starSmall',
    28px,
    28px,
  ),
);
.star-container {
  @include size(100%, 100%);
  @include position($top: 0, $left: 0);
  z-index: 5;
  pointer-events: none;

  @each $size, $values in $star-sizes {
    $image: nth($values, 1);
    $width: nth($values, 2);
    $height: nth($values, 3);

    .star-#{$size} {
      @include size($width, $height);
      position: absolute;
      background-image: url(#{$main_src}/#{$image}.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

//------------------------------------------//
// 메인
//------------------------------------------//
#main {
  background: get-color(neutral, EerieBlack);
  .sc {
    //---------------- 키비주얼 영역 ----------------//
    &_hero {
      .inner {
        max-width: 1920px;
      }
      /* 상·하단 흐르는 배너 */
      .banner_line {
        @include flex($gap: 0 60px);
        overflow: hidden;
        padding: 12px 0;
        background: get-color(blue, CelticBlue);
        p {
          font-size: 30px;
          margin-bottom: -3px;
        }
        .roller_wrap {
          @include flex($ai: center, $gap: 0 65px);

          .rolling_list {
            @include flex($ai: center, $jc: flex-end, $gap: 0 65px);
            flex-shrink: 0;
            & > div {
              @include flex($ai: center, $gap: 0 60px);
              &:nth-child(even) {
                p {
                  color: get-color(point, BitterLemon);
                }
              }
            }
          }
        }

        /* 상단 배너 (왼쪽으로 이동) */
        &.left {
          .rolling_list {
            &.original {
              animation: rollingLeft1 55s linear infinite;
              animation-fill-mode: forwards;
              @keyframes rollingLeft1 {
                // 원본용
                0% {
                  transform: translate3d(0, 0, 0);
                }
                50% {
                  transform: translate3d(-100%, 0, 0);
                }
                50.01% {
                  transform: translate3d(100%, 0, 0);
                }
                100% {
                  transform: translate3d(0);
                }
              }
            }
            &.clone {
              animation: rollingLeft2 65s linear infinite;
              animation-fill-mode: forwards;
              @keyframes rollingLeft2 {
                // 클론용
                0% {
                  transition: translate3d(0, 0, 0);
                }
                100% {
                  transform: translate3d(-200%, 0, 0);
                }
              }
            }
          }
        }
        /* 하단 배너 (오른쪽으로 이동) */
        &.right {
          .rolling_list {
            &.original {
              animation: rollingLeft1 45s linear infinite;
              animation-fill-mode: forwards;
              @keyframes rollingLeft1 {
                // 원본용
                0% {
                  transform: translate3d(0, 0, 0);
                }
                50% {
                  transform: translate3d(-100%, 0, 0);
                }
                50.01% {
                  transform: translate3d(100%, 0, 0);
                }
                100% {
                  transform: translate3d(0);
                }
              }
            }
            &.clone {
              animation: rollingLeft2 45s linear infinite;
              animation-fill-mode: forwards;
              @keyframes rollingLeft2 {
                // 클론용
                0% {
                  transition: translate3d(0, 0, 0);
                }
                100% {
                  transform: translate3d(-200%, 0, 0);
                }
              }
            }
          }
        }
      }
      .inner {
        @include flex;
        padding: 160px 171px 117px;
        .left_column {
          .childText {
            p:first-child {
              &::before {
                @include size(213px, 213px);
                @include position($right: -230px);
                content: '';
                background: url(#{$main_src}/img_hero_character.png) no-repeat
                  top;
              }
            }
          }
          .getDate {
            @include flex($ai: center, $jc: space-between);
            @include font(45px, $color: get-color(point, BlazeOrange));
            padding-top: 60px;

            .time {
              &::before {
                @include size(48px, 24px);
                @include position(
                  $top: calc(50% - 2px),
                  $left: -61px,
                  $y: -50%
                );
                content: '';
                background: url(#{$main_src}/img_hero_timeArrow.png) no-repeat
                  top;
              }
            }
          }
        }
        .right_column {
          position: static;
          & > div {
            &:first-child {
              @include position($top: 61px, $right: 266px);
              z-index: 3;
            }
            &:nth-child(2) {
              @include position($top: 233px, $right: 58px);
              z-index: 2;
            }
            &:last-child {
              @include position($top: 434px, $right: 232px);
            }
          }
        }
      }
    }
    //---------------- 현재 인기있는 게임 영역 ----------------//
    &_popularGame {
      padding: 62px 0 138px;
      overflow: hidden;
      background: url(#{$main_src}/img_popularGame_bg.png) no-repeat top,
        get-color(neutral, Basic);
      .inner {
        padding: 0;
      }
      .top_tit {
        @include size(100%, 650px, $maxWidth: 1325px);
        margin: 0 auto;
        background: url(#{$main_src}/img_popularGame_tit_bg.png) no-repeat top;

        .childText {
          @include position(relative, 50%, -391px, $y: -50%);
          display: inline-block;
          p {
            margin: 0 auto;
            margin-right: 0;
            &:nth-child(2) {
              margin-top: 19px;
              margin-right: 357px;
            }
          }
        }
        &::before {
          @include size(353px, 350px);
          @include position($top: 115px, $left: -19px);

          content: '';
          background: url(#{$main_src}/img_popularGame_character.png) no-repeat
            top;
        }
      }
      /* 스와이퍼 영역 */
      .main_swiper_popular_games {
        max-width: 1680px;
        margin: 0 auto;
        overflow: hidden;

        /* 게임 이미지, 텍스트 */
        .game {
          &_img {
            border-radius: 20px;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          &_txt {
            padding-top: 30px;
            p {
              @include font(
                24px,
                $color: map-get($color_palette, blue, PaleCornflowerBlue),
                $lh: 1.5
              );
              @include textOverflow(1);
            }
            span {
              @include font(
                $color: map-get($color_palette, neutral, White),
                $lh: 1.4
              );
              @include textOverflow(4);
              padding-top: 12px;
              text-align: left;
            }
          }
        }
        /* 슬라이드 */
        .swiper {
          overflow: visible;

          /* 페이지네이션 */
          &-pagination {
            @include size(100%, 5px, $maxWidth: 380px);
            @include position(
              absolute,
              auto,
              $bottom: -77px,
              $left: 50%,
              $x: -50%
            );
            background: rgba(255, 255, 255, 0.3);
            &-progressbar-fill {
              background: map-get($color_palette, point, LavenderIndigo);
            }
          }
          /* 화살표 박스 */
          &-etc-box {
            @include flex($jc: center, $ai: center, $gap: 0 470px);
            margin-top: 48px;
            .arrow {
              @include size(50px, 50px);
              @include position(relative, $top: auto, $left: auto);
              margin: 0;
              border: 1px solid map-get($color_palette, blue, CelticBlue);
              &.swiper-button-prev {
                img {
                  transform: rotate(180deg);
                }
              }
              &.swiper-button-next {
                right: 0;
              }
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
    //---------------- 특가 상품 영역 ----------------//
    &_hotDeal {
      background: url(#{$main_src}/img_hotDeal_bg.png) no-repeat top,
        get-color(neutral, EerieBlack);
      .inner {
        max-width: 1920px;
        padding: 90px 0 180px 200px;
      }
      .hotdeal_swiper_wrap {
        @include flex(flex, $gap: 0 145px);

        & > .left-column {
          width: 556px;
          .childText {
            margin-bottom: 60px;
          }
          .main_slide_hotdeal {
            .swiper {
              padding-bottom: 5px;
            }
            .hotDeal_item {
              @include size(100%, $maxWidth: 410px);
              @include flex($ai: center, $gap: 25px);
              padding: 20px;
              margin: 0 auto;
              margin-right: 0;
              border: 2px solid
                map-get(map-get($color_palette, blue), CelticBlue);
              border-radius: 10px;
              overflow: hidden;

              &.active {
                background-color: map-get(
                  map-get($color_palette, blue),
                  CelticBlue
                );
                .game_txt {
                  span {
                    color: get-color(neutral, Basic);
                  }
                }
              }

              .game_txt {
                max-height: 100%;
                text-align: left;

                p {
                  @include font(
                    $fs: 20px,
                    $color: get-color(blue, PaleCornflowerBlue)
                  );
                }
                span {
                  @include font($fs: 16px, $color: get-color(neutral, White));
                  @include textOverflow(2);
                  margin-top: 10px;
                }
              }

              .img_wrap {
                @include size($width: 100px, $height: 100px);
                flex-shrink: 0;
                border-radius: 10px;
                overflow: hidden;

                img {
                  width: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        }
        & > .right-column {
          width: calc(100% - 701px);
          padding: 45px 0 100px 40px;
          background: get-color(blue, MaastrichtBlue);
          border-radius: 20px;

          .game_desc {
            @include flex(flex, $gap: 0 30px);

            .swiper_thumb {
              width: 540px;
              .thumbs_wrap {
                .swiper {
                  height: 325px;
                  border-radius: 15px;
                  .slide_wrap {
                    img {
                      width: 100%;
                    }
                  }
                }
              }

              .thumbsList_wrap {
                .swiper_custom_button {
                  @include flex($ai: center, $jc: center);
                  @include position($position: absolute, $top: 50%, $y: -50%);
                  @include size($width: 32px, $height: 32px);
                  border-radius: 0;
                  cursor: pointer;

                  &.prev {
                    left: 0;
                    img {
                      transform: rotate(180deg);
                    }
                  }
                  &.next {
                    left: calc(100% - 32px);
                  }
                }

                .swiper {
                  margin-top: 20px;
                  width: calc(100% - 48px - 48px);

                  .slide_wrap {
                    border-radius: 10px;
                    overflow: hidden;
                    width: 80px;
                    height: 80px;
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                }
              }
            }
            .game_txt {
              padding: 40px 40px 0 0;
              p {
                @include font(
                  30px,
                  400,
                  $color: get-color(blue, PaleCornflowerBlue)
                );
              }
              & > span {
                @include font(
                  18px,
                  400,
                  $color: get-color(neutral, White),
                  $lh: 1.4
                );
                display: block;
                padding-top: 25px;

                .release_date {
                  display: block;
                  padding-top: 15px;
                }
              }
            }
          }
          .review_collection {
            padding-top: 50px;
            .content {
              @include flex(flex, space-between, $ff: column);
              height: 270px;
              padding: 20px;
              background: get-color(blue, CadetBlue);

              .review_text {
                line-height: 1.3;
              }
              .reviewer_info {
                @include flex(flex, space-between, center);

                .left_column {
                  @include flex(flex, $ai: center, $gap: 0 13px);

                  .profile_image {
                    @include size(36px, 36px);
                    @include flex(flex, $ai: flex-end);
                    border: 1px solid get-color(neutral, Basic);
                  }
                  .reviewer {
                    @include font(14px, $lh: 1.2);
                  }
                }
                .right-column {
                  @include flex(flex, $ai: center, $gap: 0 5px);
                }
              }
            }
          }
        }
      }
    }
    //---------------- what's your favorite game? ----------------//
    &_favoriteGame {
      padding: 190px 0 170px;
      background: get-color(neutral, Basic);
      .star-container {
        @include size(90%, 893px);
        @include position($left: 50%, $x: -50%);
      }
      .inner {
        padding: 0;
      }
      .top_row {
        z-index: 5;
        margin: 0 auto 131px;

        &::after {
          @extend .overlayBlack;
          @include position($right: 433px, $bottom: -12px);
          width: 1010px;
          z-index: -1;
        }
        .top_card {
          width: 1010px;
          margin: 0 auto;
          background: #e1d7b7;
          border: 5px solid get-color(neutral, Basic);
          border-radius: 30px;

          &::before {
            @include size(186px, 157px);
            @include position(absolute, 9px, $right: -161px);
            content: '';
            z-index: 55;
            background: url(#{$main_src}/img_favoriteGame_character.png)
              no-repeat top;
          }
          .card_title {
            padding: 13px 0 11px;
            text-align: center;
            border-bottom: 5px solid get-color(neutral, Basic);

            $decoValue: (
              1: (
                background: #fe6289,
              ),
              2: (
                background: get-color(point, Sandstorm),
              ),
              3: (
                background: #46d686,
              ),
            );
            .windoDecoBtn {
              @include flex(flex, $gap: 0 7px);
              @include position(absolute, 50%, $left: 30px, $y: -50%);

              span {
                @include size(25px, 25px);
                border: 4px solid get-color(neutral, Basic);
                border-radius: 50%;
              }

              @for $i from 1 through 3 {
                span {
                  &:nth-child(#{$i}) {
                    @each $property, $value in map-get($decoValue, $i) {
                      #{$property}: #{$value};
                    }
                  }
                }
              }
            }
            p {
              @include font(35px, $ff: $font-secondary);
            }
          }
          .card_content {
            @include flex(flex, $ai: center, $ff: column, $gap: 20px);
            padding: 32px 32px 60px;

            .line {
              @include flex(flex, $gap: 0 20px);
              .contentText {
                p {
                  @include font(
                    80px,
                    $ff: $font-secondary,
                    $color: #e9fe55,
                    $lh: 190px
                  );
                  height: 190px;
                  padding: 0 28px;
                  z-index: 1;
                  background: get-color(blue, CelticBlue);
                  text-shadow: -2px 0px get-color(neutral, Basic),
                    0px 2px get-color(neutral, Basic),
                    2px 0px get-color(neutral, Basic),
                    0px -2px get-color(neutral, Basic);
                  border: 2px solid get-color(neutral, Basic);
                  border-radius: 20px;
                }

                &::before {
                  @extend .overlayBlack;
                }
              }
              .deco {
                div {
                  background: get-color(point, LavenderIndigo);
                  border: 2px solid get-color(neutral, Basic);
                  border-radius: 20px;
                }
                &::before {
                  @extend .overlayBlack;
                }
              }
            }
          }

          &.fake {
            @include position(absolute, -37px, $left: 50%);
            transform: translateX(-50%) rotate(6deg);
            height: 611px;
            z-index: -1;
            background: #e9fe55;

            &::before {
              display: none;
            }
          }
        }
      }
    }
    //---------------- 인기 신제품 영역 ----------------//
    &_HowNew {
      padding: 85px 80px 284px;
      background: get-color(neutral, EerieBlack);
      &::before {
        @include size(100%, 300px);
        @include position(absolute, 0, $left: 0);
        content: '';
        background: get-color(blue, CelticBlue);
      }
      .inner {
        padding: 0;
      }
      .new_games_wrap {
        max-width: 1760px;
        display: flex;
        margin: 0 auto;

        .tab_area {
          display: flex;

          .tab_list {
            width: 250px;
            padding-top: 82px;
            li {
              @include font(
                20px,
                400,
                $color: get-color(blue, PaleCornflowerBlue)
              );
              margin-bottom: 38px;
              cursor: pointer;
              transition: all 0.3s;

              &::before {
                @include size(0, 32px);
                @include position(absolute, $left: 0);
                visibility: hidden;
                opacity: 0;
                content: '';
                background: url(#{$main_src}/img_HowNew_tabActive.png) no-repeat
                  top;
                transition: all 0.3s;
              }

              &:last-child {
                margin-bottom: 0;
              }
              &.active {
                padding-left: 46px;

                &::before {
                  width: 32px;
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
          .tab_game {
            max-width: 1170px;

            & > .swiper_container {
              width: 100%;
              overflow: hidden;

              &.hidden {
                position: absolute;
                opacity: 0;
                .content {
                  @include position(absolute, $x: -40px);
                  visibility: hidden;
                  opacity: 0;
                }
              }
              &.active {
                position: relative;
                opacity: 1;
                .content {
                  @include position(relative, $x: 0);
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
            .main_swiper_hotNew {
              .swiper_title {
                font-weight: 400;
              }
              .swiper_button_group {
                gap: 0 10px;
                .swiper_custom_button {
                  background: get-color(neutral, EerieBlack);
                }
              }

              .content {
                transition: position 0.7s, transform 0.7s, visibility 1s,
                  opacity 1.5s;
                .game_info {
                  padding-top: 20px;
                  .game-description {
                    color: get-color(blue, CadetBlue);
                  }
                  .game-tags {
                    @include flex($gap: 10px);
                    @include font(
                      $fs: 14px,
                      $color: get-color(blue, CadetBlue)
                    );
                    li {
                      @include flexCenter;
                      text-wrap: nowrap;
                      padding: 8px 16px;
                      border-radius: 38px;
                      background-color: get-color(blue, MaastrichtBlue);
                    }
                  }
                }
              }
            }
          }
        }
        .HowNew_gameInfo {
          @include size(100%, $maxWidth: 330px);
          @include position(absolute, $right: -40px);
          padding: 40px 20px;
          margin: 82px 0 0 20px;
          opacity: 0;
          visibility: hidden;
          background: get-color(blue, MaastrichtBlue);

          .game-price {
            @include flex($ai: center, $gap: 0 15px);
            padding-top: 12px;
          }
          .total_score {
            @include flex(flex, $ai: center, $gap: 0 10px);
            padding: 15px;
            margin: 15px 0 20px;
            background: get-color(blue, CelticBlue30);
            color: get-color(neutral, white);

            img {
              margin: 0;
            }
            span {
              font-size: 14px;
            }
            p {
              padding-top: 8px;
              font-size: 18px;
              letter-spacing: -1px;

              span {
                color: get-color(blue, CadetBlue);
              }
            }
          }
          .game_img {
            img {
              width: 100%;
              margin-bottom: 15px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          &.active {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    //---------------- 풋터 위 마지막 배너 영역 ----------------//
    &_lastBanner {
      padding: 247px 0 433px;
      text-align: center;
      background: #000;
      &::before {
        @include size(100%, 100%);
        @include position($top: 0, $left: 0);
        content: '';
        background: url(#{$main_src}/img_lastBanner_bg.png) no-repeat top;
        z-index: 5;
        filter: brightness(0.5) opacity(0.8);
        pointer-events: none;
      }

      .tit {
        p {
          @include font(
            70px,
            $ff: $font-secondary,
            $color: get-color(point, LavenderIndigo)
          );
          padding-bottom: 30px;
        }
        span {
          @include font(40px, $color: get-color(blue, PaleCornflowerBlue));
        }
      }
    }
  }
}
//------------------------------------------//
// 반응형
//------------------------------------------//
//-------------- 1023 --------------//
@include tablet {
  #main {
    // ## 풋터 위 마지막 배너 영역
    .sc_lastBanner {
      padding: 247px 0 467px;
      background: linear-gradient(
        to bottom,
        get-color(neutral, Basic),
        #412b4a 112%
      );
      &::before {
        background: url(#{$main_src}/img_lastBanner_bg_MO.png) no-repeat top /
          auto 100%;
      }

      .tit {
        p {
          font-size: 45px;
        }
        span {
          @include font(30px, $lh: 1.4);
        }
      }
    }
  }
}
//-------------- 767 --------------//
@include mobile {
  #main {
    // ## 풋터 위 마지막 배너 영역
    .sc_lastBanner {
      padding: vw(247px) 0 vw(467px);
      background-size: cover;
      .tit {
        p {
          font-size: vw(45px);
        }
        span {
          font-size: vw(30px);
        }
      }
    }
  }
}
