@mixin text-shadow-border($color, $size: 3px) {
  text-shadow: -#{$size} 0px $color, 0px #{$size} $color, #{$size} 0px $color,
    0px -#{$size} $color;
}
.childText {
  @include font(
    200px,
    $ff: $font-tertiary,
    $color: map-get(map-get($color_palette, point), LavenderIndigo),
    $lh: 1
  );
  @include text-shadow-border(
    map-get(map-get($color_palette, neutral), Basic),
    3px
  );
  p {
    display: table;
    z-index: 1;
    &::after {
      @include position($top: -20px, $right: -10px);
      @include font(
        inherit,
        $ff: inherit,
        $color: map-get(map-get($color_palette, point), Turquoise)
      );
      @include text-shadow-border(
        map-get(map-get($color_palette, neutral), White),
        3px
      );

      content: attr(data-child);
      z-index: -1;
    }
  }

  &.small {
    @include text-shadow-border(
      map-get(map-get($color_palette, neutral), Basic),
      2px
    );
    font-size: 100px;
    p {
      &::after {
        @include text-shadow-border(
          map-get(map-get($color_palette, neutral), White),
          2px
        );
      }
      &:nth-child(2) {
        margin-top: 5px;
      }
    }
  }
}

//------------------------------------------//
// 메인
//------------------------------------------//
.main {
  background: map-get(map-get($color_palette, neutral), EerieBlack);
  //---------------- 키비주얼 영역 ----------------//
  .sc_hero {
    .banner_line {
      @include flexLayout($gap: 0 60px);
      padding: 12px 0;
      background: map-get(map-get($color_palette, blue), CelticBlue);
      p {
        @include font(30px);
        margin-bottom: -3px;
      }
      & > div {
        @include flexLayout($ai: center, $gap: 0 60px);
        animation: rollingleft1 10s linear infinite;
        @keyframes rollingleft1 {
          // 원본용
          0% {
            transform: translate3d(0, 0, 0);
          }
          50% {
            transform: translate3d(-100%, 0, 0);
          }
          50.01% {
            transform: translate3d(100%, 0, 0);
          }
          100% {
            transform: translate3d(0);
          }
        }
        &:nth-child(even) {
          p {
            color: map-get(map-get($color_palette, point), BitterLemon);
          }
        }
      }
    }
    .inner {
      @include flexLayout;
      padding: 160px 171px 117px;
      .left_column {
        .childText {
          p:first-child {
            &::before {
              @include size(213px, 213px);
              @include position($right: -230px);
              content: '';
              background: url(#{$main_src}/img_hero_character.png) no-repeat top;
            }
          }
        }
        .getDate {
          @include flexLayout($ai: center, $jc: space-between);
          @include font(
            45px,
            $color: map-get(map-get($color_palette, point), BlazeOrange)
          );
          padding-top: 60px;

          .time {
            &::before {
              @include size(48px, 24px);
              @include position($top: calc(50% - 2px), $left: -61px, $y: -50%);
              content: '';
              background: url(#{$main_src}/img_hero_timeArrow.png) no-repeat top;
            }
          }
        }
      }
      .right_column {
        position: static;
        & > div {
          &:first-child {
            @include position($top: 61px, $right: 266px);
            z-index: 3;
          }
          &:nth-child(2) {
            @include position($top: 233px, $right: 58px);
            z-index: 2;
          }
          &:last-child {
            @include position($top: 434px, $right: 232px);
          }
        }
      }
    }
  }
}
