//------------------------------------------//
// 헤더
//------------------------------------------//
.header {
  @include position(sticky, 0);
  z-index: 99;
  padding: 12px 0;
  background: get-color(neutral, CharlestonGreen);
  .inner {
    @include display(flex, $jc: space-between, $ai: center);
    max-width: 1400px;
    padding: 0 40px;
    margin: 0 auto;
  }
  // 로고, 검색어 박스 영역
  &-util {
    @include display(flex, $ai: center, $gap: 0 20px);

    form {
      @include display($ai: center, $gap: 0 30px);
    }
    &-search {
      input {
        @include size(230px, 48px);
        @include font(
          $color: map-get(map-get($color_palette, blue), CadetBlue)
        );
        padding: 0 46px 0 15px;
        border-radius: 10px;
        background: map-get(map-get($color_palette, neutral), EerieBlack);
      }
      &-btn {
        @include position(absolute, $top: 50%, $right: 15px, $y: -50%);
      }
    }
  }
  // 메뉴 영역
  &-gnb {
    @include display(flex, $ai: center, $gap: 0 15px);

    &-list {
      @include display(flex, $gap: 0 40px);
      padding: 15px 40px;
      background: map-get(map-get($color_palette, neutral), EerieBlack);
      border-radius: 10px;

      a {
        @include font(
          $ff: $font-primary,
          $color: map-get(map-get($color_palette, blue), CadetBlue)
        );
      }
    }
  }
  // 로그인, 회원가입 영역
  &-auth {
    display: flex;
    padding: 15px 17px;
    background: map-get(map-get($color_palette, blue), CadetBlue);
    border-radius: 10px;

    li {
      &:first-child {
        margin-right: 10px;
        padding-right: 10px;
        &::after {
          @include size(2px, 100%);
          @include position(absolute, $top: 50%, $right: -1px, $y: -50%);
          content: '';
          background: map-get(map-get($color_palette, neutral), Basic);
        }
      }
    }
    a {
      @include font(
        $ff: $font-primary,
        $color: map-get(map-get($color_palette, neutral), Basic)
      );
    }
  }
}
