//------------------------------------------//
// 헤더
//------------------------------------------//
.header {
  padding: 20px 0;
  background: #2b2b2b;
  .inner {
    @include flex($jc: space-between, $ai: center);
    max-width: 1400px;
    padding: 0 40px;
    margin: 0 auto;
  }
  .left_column {
    form {
      padding-left: 100px;
      .logo {
        @include position($top: -20px, $left: 0, $right: auto);
      }
      .search_box {
        input {
          @include size(230px, 48px);
          @include font(
            $color: map-get(map-get($color_palette, blue), CadetBlue)
          );
          padding: 0 15px;
          border-radius: 10px;
          background: map-get(map-get($color_palette, neutral), EerieBlack);
        }
        .search_btn {
          @include position($top: 50%, $right: 15px, $y: -50%);
        }
      }
    }
  }
  .right_column {
    @include flex($gap: 0 10px);
    ul {
      border-radius: 10px;
      li {
        a {
          @include font;
        }
      }
    }
    /* 신규 및 특집 · 찾아보기 · 뉴스 */
    .menu {
      padding: 15px 40px;
      background: map-get(map-get($color_palette, neutral), EerieBlack);
      li {
        @include flex($gap: 0 40px);
        a {
          color: map-get(map-get($color_palette, blue), CadetBlue);
        }
      }
    }
    /* 로그인 · 회원가입 */
    .signIn {
      padding: 15px 17px;
      background: map-get(map-get($color_palette, blue), CadetBlue);
      li {
        a {
          color: map-get(map-get($color_palette, neutral), Basic);
          &:first-child {
            margin-right: 10px;
            padding-right: 10px;
            &::after {
              @include size(2px, 100%);
              @include position($top: 50%, $right: -4px, $y: -50%);
              content: '';
              background: map-get(map-get($color_palette, neutral), Basic);
            }
          }
        }
      }
    }
  }
}
